#divcarrocel{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    height: 600px;
    overflow: visible;
    display: flex;
    flex-direction: column;
}
#carrocel{
    width: 100%;
    margin-top: -40px;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
}
#tituloslide{
    color: #fff;
    text-align: center;
    margin: auto;
    z-index: 3;
    position: relative;
    transition: opacity 0.5s ease-in-out;
}


@media screen and (min-width: 0) and (max-width: 504px){
    #tituloslide{
        display: none
    }
    #carrocel{
        height: 900px;
        width: 100%;
         
    }
    #divcarrocel{
        position: relative;
        height: 250px;
        width: 90%;
        
    }
}